.DS_Store
.venv
__pycache__
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

backend/venv
backend/__pycache__
backend/.env
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
backend/.env.development
backend/.env.test
backend/.env.production

frontend/node_modules
frontend/.next
frontend/out
frontend/build
frontend/coverage
frontend/dist
frontend/docs
frontend/logs
frontend/tmp
frontend/var
frontend/www

backend/data
backend/data/*
backend/data/data.db
backend/data/data.db-shm
backend/data/data.db-wal
backend/data/data.db-journal
backend/data/data.db-lock
backend/data/data.db-lock-shm
backend/data/data.db-lock-wal
backend/data/data.db-lock-journal